@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* global */

* {
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Mono', monospace;
    font-style: normal;
    color: #FFFFFF;

}

button {
    cursor: pointer;
}

.hov:hover {
    background: rgba(82, 91, 236, 1) !important;
}

body {
    width: 100%;
    background: rgba(2, 9, 64, 1);
}

#header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* position: sticky; */
    background: rgba(2, 9, 64, 1);
    height: 90px;
    gap: 40%;
    top: 0;
    left: 0;
}

.disabled {
    display: none !important;
}


.enabled {
    display: block !important;
}

.enabled-flex {
    display: flex !important;
}

.fullscreen {
    width: 100% !important;
    height: 100% !important;
}

/* Navbar */

#navbar {
    position: relative;
    gap: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* z-index: 999; */
}

#navbar li {
    list-style: none;
}

#navbar li a {
    border: 1px solid #15217B;
    background: #020940;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
    padding: 10px 16px;
    border-radius: 8px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    text-decoration: none;
}

#mobile {
    display: none;
    align-items: center;

}


.fa-bars:before {
    padding: 7px;
    border: 1px solid #15217B;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
    border-radius: 8px;
}

#close {
    display: none;
}

/* footer */

#footer {
    width: 100%;
    height: 250px;
    background: rgba(82, 91, 236, 1);
    border-radius: 10px;
}

#footer .col-container {
    display: flex;
    flex-direction: row;
    gap: 160px;
}

.col-container .col1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    margin: 20px 164px 0 236px;
}

.col-container .col1 p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    color: #CBCEFA;
}

#footer .logo {
    width: 152px;
    height: 62px;
    margin-bottom: 16px;
}

#footer h4 {

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #D7E1FF;
}

#footer p {
    font-size: 13px;
    margin: 0 0 8px 0;
}

#footer a {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    text-decoration: none;
    color: #A9ADF7;

}

#footer .col-container .col2 {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
}

#footer .col-container .strong a {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #CBCEFA;

}

#footer .copyright {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    margin-top: 20px;
    gap: 220px;
}

#footer .copyright p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 9px;
    line-height: 12px;
    display: flex;
    align-items: center;
    color: #CBCEFA;
    margin: 0 0 48px 236px;
}

#footer .follow {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#footer .follow img {
    width: 20px;
    height: 20px;
}

.title h2 {
    font-size: 13px;
    color: #8589A6;
    padding-bottom: 11px;
}

.left-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    width: 480px;
    /* padding: 75px 0px 0px 0px; */
}

.steps-array {
    display: flex;
    flex-direction: column;
    /* width: 225px; */
    height: 220px !important;
    margin-bottom: 120px;
    /* padding: 75px 0px 0px 0px; */
}

.steps-array .array {
    width: 225px;
    height: 190px;
}

.steps-array .array li {
    display: flex;
    flex-direction: row;
    border: 1px solid #525BEC;
    /* border-radius: 8px 8px 0px 0px; */
    height: 48px;
    align-items: center;
}

.steps-array .array li h2 {
    padding-left: 16px;
}

#ret-li {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 48px;
    align-items: center;
    width: 100%;
}


#ret-li h2 {
    padding-left: 16px !important;
}

.steps-array .array li:nth-child(1) {
    border-radius: 8px 8px 0px 0px;
}

.steps-array .array li:nth-child(4) {
    border-radius: 0px 0px 8px 8px;
}

.steps-array .array .valid {
    justify-content: space-between;
    padding-right: 17px;
    background: #131A51;
}


.steps-array .array .current {
    background: rgba(82, 91, 236, 1);
}

.steps-array .array .current img {
    display: none;
}

/* Registration 3 */

#registration3 {
    width: 100%;
    height: 1140px;
    display: flex;
    flex-direction: row;
    gap: 80px;
}

#registration3 .steps-array {
    height: 600px;
    gap: 20px;
    padding: 24px 0px 0px 236px;
}

#registration3 h2 {
    font-size: 13px;
}

.back {
    display: flex;
    flex-direction: row;
    gap: 12px;
    margin-bottom: 22px;
}

.back p {
    padding: 6px;
    font-weight: 700;
    font-size: 13px;
    line-height: 17px;
    color: #8589A6;
}

.profile {
    width: 224px;
    height: 224px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #525BEC;
    border-radius: 8px;
    gap: 35px;
    margin-bottom: 16px;
}

.profile img {
    width: 72px;
    height: 72px;
}

.profile p {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
}

.profile .status {
    display: flex;
    width: 118px;
    height: 26px;
    background: #6AAB64;
    border-radius: 0px 0px 5px 5px;
    justify-content: center;
    align-items: center;
}

.learn {
    display: flex;
    justify-content: center;
    width: 224px;
    height: 42px;
    background: #020940;

    border-radius: 8px;
}

.learn button {
    background: #020940;
    border: 1px solid #525BEC;
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 17px;
    width: 100%;
    border-radius: 8px;
}

.registration-form {
    display: flex;
    flex-direction: column;
    padding: 24px 0 0 0;
    width: 664px;
    gap: 16px;
}

.registration-form .mint {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* margin-top: 74px; */
    padding: 20px 0;
    height: 60px;
    border: 1px solid #20275E;
    border-radius: 8px;
    gap: 16px;
    padding-left: 20px;
}

.mint p {
    font-weight: 700;
    font-size: 13px;
    color: #8589A6;
}

.registration-form li {
    list-style: none;
    height: 71px;
    margin-bottom: 16px;

}

.registration-form p {
    font-weight: 700;
    font-size: 13px;
    color: #8589A6;
    margin-bottom: 6px;
}

.registration-form input {
    text-decoration: none;
    width: 664px;
    height: 48px;
    background: #131A51;
    font-weight: 700;
    font-size: 13px;
    border-radius: 8px;
    border: 0;
    padding-left: 5px;
}

.registration-form .continue {
    display: flex;
    justify-content: center;
    margin-bottom: 120px;
}

.registration-form button {
    background-color: rgba(82, 91, 236, 1);
    color: #fff;
    white-space: nowrap;
    border-radius: 8px;
    width: 217px;
    height: 42px;
    font-weight: 700;
    font-size: 13px;
    line-height: 17px;
    margin-top: 2px;
    border: none;
    cursor: pointer;
}

.mobile-popup {
    display: none;
}

.card-popup {
    position: fixed;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    z-index: 994;
    background: #0303038d;
}


.card {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 404px;
    height: 605px;
    background: #020940;
    border: 1px solid #20275E;
    border-radius: 8px;
    z-index: 995;
}


.card .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    width: 90%;
}

.card .top h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
}

.card .top i {
    cursor: pointer;
}

.card .mid {
    width: 90%;
    height: 396px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: #6AAB64;
    border-radius: 10px;
    margin-bottom: 23px;
}

.card .mid .img-container {
    width: 100%;
    height: 356px;
    background: #131A51;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.card .mid .info-container {
    width: 100%;
    height: 42px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.card .mid .info-container p {
    font-weight: 700;
    font-size: 13px;
    line-height: 17px;
    margin: 0px 8px;
}

.card .mid .info-container p:nth-child(2) {
    padding: 4px 10px;
    border-radius: 32px;
    background: #468740;
}

.card .bot {
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid #20275E;
    gap: 10px;
}

.card .bot .right {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.card .bot .grey-line {
    height: 45px;
    width: 1px;
    background: #20275E;
    margin-top: 22px;
}

.card .bot .left {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.card .bot p {
    font-weight: 700;
    font-size: 13px;
    line-height: 17px;
    color: #8589A6;
}

.card .bot .logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 154px;
    height: 45px;
    border-radius: 8px;
}

.card .bot .right .logo-container {
    background: #131A51;
    cursor: pointer;
}

.card .bot .left .logo-container {
    gap: 12px;
}

.card .bot .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 70px;
    background: #131A51;
    border-radius: 8px;
    cursor: pointer;
}


/* Media Queries */

@media (max-width:1600px) {

    #footer .col-container {
        gap: 50px;
    }
}

@media (max-width:1025px) {


    .content-container img {
        width: 222px;
        height: 214px;
        padding-top: 0;
    }

    #footer .col-container {
        gap: 25px;
    }

    .col-container .col1 {
        margin: 20px 82px 0 125px;
    }

    #footer .copyright {
        gap: 110px;
    }

    #footer .copyright p {
        margin: 0 0 48px 125px;
    }

}


@media (max-width:799px) {

    #header {
        gap: 0;
        height: 70px;
        position: fixed;
    }

    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -500px;
        height: 100vh;
        width: 120px;
        background-color: rgba(82, 91, 236, 1);
        border-radius: 10px 0px 0px 10px;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.01);
        padding: 80px 0 0 10px;
        transition: 0.3s;
        z-index: 999;
    }

    #navbar.active {
        right: 0px;
    }

    #navbar li {
        margin-bottom: 25px;
    }

    #mobile {
        display: flex;
        align-items: center;
    }

    #mobile i {
        color: #FFFFFF;
        font-size: 24px;
        padding-left: 20px;
    }

    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #FFFFFF;
        font-size: 24px;
    }

    /* .wrap {
        overflow-x: auto !important;
    } */

    #footer {
        display: none;
    }

    .steps-array {
        padding: 0 !important;
        width: 705px;
        height: 32px;
    }

    .steps-array .title {
        display: none;
    }

    .steps-array .array {
        height: 32px;
        width: 705px;
    }

    #steps {
        display: flex;
        flex-direction: row;
        width: 705px;
        height: 32px;
    }

    #steps li {
        display: flex;
        flex-direction: row;
        width: 177px;
        height: 32px;
        border-radius: 0 !important;
    }

    #steps h2 {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        font-size: 12px;
        line-height: 16px;
        align-items: center;
    }

    .left-wrapper {
        height: 80px;
        width: 100%;
        display: none;
    }

    .steps-array {
        display: none;
        flex-direction: column-reverse;
        width: 100%;
        margin: 0;
    }

    .left-wrapper .profile {
        display: none;
    }


    .back {
        margin: 0px 0px 0px 80px;
    }

    .learn {
        display: none;
    }

    #registration3 {
        display: flex;
        justify-content: center;
        /* align-items: center; */
    }

    .registration-form {
        width: 90% !important;
        padding: 0;
        display: flex;
        flex-direction: column;
        /* justify-content: space-around;
        align-items: space-around; */
    }

    .registration-form input {
        width: 100% !important;
    }

    .mobile-popup {
        position: fixed;
        height: 60px;
        /* height: 186px; */
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: end;
        /* height: 100%; */
        width: 100%;
        bottom: 0;
        left: 0;
        z-index: 995;
    }

    .mobile-popup #clickable {

        display: flex;
        width: 100%;
        height: 90%;
        background: rgba(46, 46, 46, 0.501);
    }

    .mobile-popup .profile {
        margin-bottom: 0;
        width: 100%;
        height: 186px;
        gap: 8px;
        border-radius: 8px 8px 0 0;
    }

    .mobile-popup img {
        display: none;
    }

    .mobile-popup .profile .name p {
        margin-bottom: 15px
    }


    .card {
        width: 320px;
        height: 492px;
    }

    .card .mid {
        height: 67%;
    }

    .mid .img-container {
        height: 100% !important;
    }

    .bot {
        gap: 0px !important;
    }

    .bot .logo-container {
        width: 80% !important;
    }

}