@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

/* global */

.Body {
  width: 100%;
  min-height: 100vh;
  background: #0c1135;
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Mono", monospace;
  font-style: normal;
  color: #ffffff;
  box-sizing: border-box;
}

.button {
  cursor: pointer;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: sticky;
  background: #0c1135;
  height: 90px;
  gap: 40%;
  top: 0;
  left: 0;
  z-index: 99;
}

.formInput::placeholder {
  color: #8589a6;
}

.hov:hover {
  background: rgba(82, 91, 236, 1) !important;
}

.disabled {
  display: none;
}

.navbar {
  position: relative;
  gap: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
}

.navbar li {
  list-style: none;
}

.navbar li a {
  border: 1px solid #15217b;
  background: #020940;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
  padding: 10px 16px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  text-decoration: none;
}

.mobile {
  display: none;
  align-items: center;
}

.faBars:before {
  padding: 7px;
  border: 1px solid #15217b;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
}

.close {
  display: none;
}

/* sfooter */

.footer {
  width: 100%;
  height: 250px;
  background: rgba(82, 91, 236, 1);
  border-radius: 10px;
}

.footer .logo {
  width: 152px;
  height: 62px;
  margin-bottom: 16px;
}

.footer h4 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #d7e1ff;
}

.footer p {
  font-size: 13px;
  margin: 0 0 8px 0;
}

.footer a {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  text-decoration: none;
  color: #a9adf7;
}

.footer .copyright {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
  margin-top: 20px;
  gap: 220px;
}

.footer .copyright p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 9px;
  line-height: 12px;
  display: flex;
  align-items: center;
  color: #cbcefa;
  margin: 0 0 48px 236px;
}

.footer .follow {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.footer .follow img {
  width: 20px;
  height: 20px;
}

.title h2 {
  font-size: 13px;
  color: #8589a6;
  padding-bottom: 11px;
}

.leftWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  width: 480px;
  /* padding: 75px 0px 0px 0px; */
}

.stepsArray {
  display: flex;
  flex-direction: column;
  /* width: 225px; */
  height: 220px !important;
  margin-bottom: 120px;
  /* padding: 75px 0px 0px 0px; */
}

.stepsArray .array {
  width: 225px;
  height: 190px;
}

.stepsArray .array li {
  display: flex;
  flex-direction: row;
  border: 1px solid #525bec;
  /* border-radius: 8px 8px 0px 0px; */
  height: 48px;
  align-items: center;
}

.stepsArray .array li h2 {
  padding-left: 16px;
}

.retLi {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 48px;
  align-items: center;
  width: 100%;
}

.retLi h2 {
  padding-left: 16px !important;
}

.stepsArray .array li:nth-child(1) {
  border-radius: 8px 8px 0px 0px;
}

.stepsArray .array li:nth-child(4) {
  border-radius: 0px 0px 8px 8px;
}

.stepsArray .array .valid {
  justify-content: space-between;
  padding-right: 17px;
  background: #131a51;
}

.stepsArray .array .current {
  background: rgba(82, 91, 236, 1);
}

.stepsArray .array .current img {
  display: none;
}

.back {
  display: flex;
  flex-direction: row;
  gap: 12px;
  margin-bottom: 22px;
  align-self: flex-start;
}

.back p {
  padding: 6px;
  font-size: 13px;
  line-height: 17px;
  color: #8589a6;
}

.registrationForm .mint p {
  margin-bottom: 0px !important;
}

.profile {
  width: 224px;
  height: 224px;
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #525bec;
  border-radius: 8px;
  gap: 25px;
  margin-bottom: 16px;
}

.profile img {
  width: 104px;
  height: 104px;
}

.profile p {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-size: 13px;
}

.profile .status {
  display: flex;
  width: 118px;
  height: 26px;
  background: #6aab64;
  border-radius: 0px 0px 5px 5px;
  justify-content: center;
  align-items: center;
}

.learn {
  display: flex;
  justify-content: center;
  width: 224px;
  height: 42px;
  background: #020940;

  border-radius: 8px;
}

.learn button {
  background: #020940;
  border: 1px solid #525bec;
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-size: 13px;
  line-height: 17px;
  width: 100%;
  border-radius: 8px;
}

.registrationForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
}

.registrationForm .mint {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* margin-top: 74px; */
  padding: 20px 0;
  min-height: 60px;
  border: 1px solid #20275e;
  border-radius: 8px;
  gap: 16px;
  padding-left: 20px;
}

.mint p {
  font-size: 13px;
  color: #8589a6;
}

.registrationForm li {
  list-style: none;
  height: 71px;
  margin-bottom: 16px;
}

.registrationForm p {
  font-size: 13px;
  color: #8589a6;
  margin-bottom: 6px;
}

.registrationForm input {
  text-decoration: none;
  width: 100%;
  height: 48px;
  background: #131a51;
  font-size: 13px;
  border-radius: 8px;
  border: 0;
  padding-left: 12px;
}

.continue {
  display: flex;
  justify-content: center;
  margin-bottom: 120px;
}

.cardPopup {
  position: fixed;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  z-index: 994;
  background: #0303038d;
}

.card {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 404px;
  height: 605px;
  background: #020940;
  border: 1px solid #20275e;
  border-radius: 8px;
  z-index: 995;
}

.card .top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  width: 90%;
}

.card .top h2 {
  font-size: 20px;
  line-height: 26px;
}

.card .top i {
  cursor: pointer;
}

.card .mid {
  width: 90%;
  height: 396px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: #6aab64;
  border-radius: 10px;
  margin-bottom: 23px;
}

.card .mid .imgContainer {
  width: 100%;
  height: 356px;
  background: #131a51;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.mid .imgContainer img {
  width: 50%;
  height: 50%;
}

.card .mid .infoContainer {
  width: 100%;
  height: 42px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card .mid .infoContainer p {
  font-size: 13px;
  line-height: 17px;
  margin: 0px 8px;
}

.card .mid .infoContainer p:nth-child(2) {
  padding: 4px 10px;
  border-radius: 32px;
  background: #468740;
}

.card .bot {
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #20275e;
  gap: 10px;
}

.card .bot .right {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.card .bot .grey-line {
  height: 45px;
  width: 1px;
  background: #20275e;
  margin-top: 22px;
}

.card .bot .left {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.card .bot p {
  font-size: 13px;
  line-height: 17px;
  color: #8589a6;
}

.card .bot .logoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 154px;
  height: 45px;
  border-radius: 8px;
}

.card .bot .right .logoContainer {
  background: #131a51;
  cursor: pointer;
}

.card .bot .left .logoContainer {
  gap: 12px;
}

.card .bot .imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 70px;
  background: #131a51;
  border-radius: 8px;
  cursor: pointer;
}

.error {
  color: red !important;
}

@media (max-width: 999px) {
  .contentContainer img {
    width: 222px;
    height: 214px;
    padding-top: 0;
  }

  .header {
    gap: 0;
    height: 70px;
    position: fixed;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -500px;
    height: 100vh;
    width: 120px;
    background-color: rgba(82, 91, 236, 1);
    border-radius: 10px 0px 0px 10px;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.01);
    padding: 80px 0 0 10px;
    transition: 0.3s;
    z-index: 999;
  }

  .navbar.active {
    right: 0px;
  }

  .navbar li {
    margin-bottom: 25px;
  }

  .mobile {
    display: flex;
    align-items: center;
  }

  .mobile i {
    color: #ffffff;
    font-size: 24px;
    padding-left: 20px;
  }

  .close {
    display: initial;
    position: absolute;
    top: 30px;
    left: 30px;
    color: #ffffff;
    font-size: 24px;
  }

  .footer {
    display: none;
  }

  .leftWrapper {
    margin-top: 280px;
    height: 80px;
    width: 100%;
  }

  .leftWrapper .profile {
    display: none;
  }

  .stepsArray {
    padding: 0 !important;
    width: 100% !important;
    height: 32px;
    flex-direction: column-reverse;
    margin: 0;
  }

  .stepsArray .title {
    display: none;
  }

  .stepsArray .array {
    height: 32px;
    width: 100% !important;
  }

  .steps {
    max-width: 100% !important;
    overflow-y: hidden;
    overflow-x: auto !important;
    display: flex;
    flex-direction: row;
    /* width: 705px; */
    height: 32px;
  }

  .steps li {
    display: flex;
    flex-direction: row;
    width: 177px;
    min-width: 177px;
    height: 32px;
    border-radius: 0 !important;
  }

  .steps h2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 12px;
    line-height: 16px;
    align-items: center;
  }

  .back {
    margin: 0;
  }

  .learn {
    display: none;
  }

  .card {
    width: 320px;
    height: 492px;
  }

  .card .mid {
    height: 67%;
  }

  .mid .imgContainer {
    height: 100% !important;
  }

  .bot {
    gap: 0px !important;
  }

  .bot .logoContainer {
    width: 80% !important;
  }

  .continue {
    margin-bottom: 0;
  }
}
